name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  run-x86_64-linux:
    name: Run x86_64 Linux
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: echo $PATH
        run: echo $PATH
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Test bash
        run: nix-instantiate -E 'builtins.currentTime' --eval
        if: success() || failure()
        shell: bash --login {0}
      - name: Test sh
        run: nix-instantiate -E 'builtins.currentTime' --eval
        if: success() || failure()
        shell: sh -l {0}
      - name: Install Nix again (noop)
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Reinstall Nix
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reinstall: true
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Verify the generated nix.conf
        run: |
          cat -n /etc/nix/nix.conf
          grep -E "^trusted-users = .*$USER" /etc/nix/nix.conf

  run-x86_64-darwin:
    name: Run x86_64 Darwin
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Install Nix
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: echo $PATH
        run: echo $PATH
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Test bash
        run: nix-instantiate -E 'builtins.currentTime' --eval
        if: success() || failure()
        shell: bash --login {0}
      - name: Test sh
        run: nix-instantiate -E 'builtins.currentTime' --eval
        if: success() || failure()
        shell: sh -l {0}
      - name: Test zsh
        run: nix-instantiate -E 'builtins.currentTime' --eval
        if: success() || failure()
        shell: zsh --login --interactive {0}
      - name: Install Nix again (noop)
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Reinstall Nix
        uses: ./
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full
          github-token: ${{ secrets.GITHUB_TOKEN }}
          reinstall: true
      - name: Test `nix` with `$GITHUB_PATH`
        if: success() || failure()
        run: |
          nix run nixpkgs#fortune
          nix profile install nixpkgs#fortune
          fortune
          nix store gc
          nix run nixpkgs#fortune
      - name: Verify the generated nix.conf
        run: |
          cat -n /etc/nix/nix.conf
          grep -E "^trusted-users = .*$USER" /etc/nix/nix.conf
